201806-fordgobike-tripdata.csv
201807-fordgobike-tripdata.csv
201808-fordgobike-tripdata.csv
201809-fordgobike-tripdata.csv
201810-fordgobike-tripdata.csv
201811-fordgobike-tripdata.csv
201812-fordgobike-tripdata.csv
201901-fordgobike-tripdata.csv
201902-fordgobike-tripdata.csv
201903-fordgobike-tripdata.csv
201904-fordgobike-tripdata.csv
201905-fordgobike-tripdata.csv